@import '../../../scss/variables.scss';

.logo{
    display: flex;
    flex-direction: row;
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $primary-color;
    

    p{
        padding: 0rem 0.5rem 0rem 1rem;
    }
    img{
        width: 1.5rem; 
        height: 1.5rem;
    }
}