.login{ 
    width: 25rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0rem 0rem 30rem;
    font-family:'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    line-height: 2rem;
    color: rgb(36, 50, 74);
    background-color: rgb(240, 255, 255);
    box-shadow: 8px 11px 11px 0px rgba(169,188,206,0.53);

    h2{
        font-size: 1rem; 
    }
    label{
        font-size: 0.7rem;
        line-height: 2rem;
        margin-top: 3rem;
    }
    input{
        width: 10rem;
        height: 1.5rem;
        font-size: 0.5rem;
        padding-left: 10px;
        border:1px solid rgb(223, 232, 247);
        border-radius: 3px;
        margin-top: 1.5rem;
        
    }
    button{
        width: 5rem;
        height: 1rem;
        font-size: 0.6rem;
        border:none;
        border-radius: 3px;
        color: azure;
        background-color: rgb(36, 50, 74);
        margin-top: 2rem;
    }
    button:hover{
        color: rgb(36, 50, 74);
        background-color: rgb(223, 232, 247);
    }
    p{
        font-size: 0.5rem;
        margin-top: 3rem;
    }
}