.login{ 
    width: 17rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0rem 0rem 35rem;
    padding-top: 2rem;
    font-family:'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    color: rgb(133, 88, 68);
    background-color: rgb(248, 251, 251);
    box-shadow: 8px 11px 11px 0px rgba(169,188,206,0.53);

    h2{
        text-align: center;
        font-size: 1rem;
        color: rgb(104, 67, 51);    
    }
    div{
        display: flex;
        flex-direction: column;
    }
    label{
        font-size: 0.6rem;
        margin: 2rem 0rem 1rem 0rem;
    }
    input{
        width: 10rem;
        height: 1.5rem;
        font-size: 0.5rem;
        padding-left: 10px;
        border:1px solid rgb(223, 232, 247);
        border-radius: 3px; 

    }

    button{
        width: 5rem;
        height: 2rem;
        font-size: 0.6rem;
        letter-spacing: 1px;
        border:none;
        border-radius: 3px;
        color: rgb(104, 67, 51);
        background-color: rgb(150, 215, 215);
        margin: 2rem 0rem 0rem 2rem;
    }
    button:hover{
        color: rgb(150, 215, 215);
        background-color: rgb(104, 67, 51);
    }
    p{
        font-size: 0.5rem;
        margin: 3rem 1rem 0rem 1rem;

        a{
            text-decoration: none;
            color: rgb(104, 67, 51);
        }
        a:hover{
            color: rgb(104, 67, 51);
            background-color: rgb(150, 215, 215);
        }
    }
}
