.nav{
    width: 100%;
    height: 60px;
    background-color: rgb(223, 232, 247);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul{
        width: 25rem;
        display: flex;
        justify-content: space-between;
        margin-right: 3rem;
        text-decoration: none;
        font-family:'Open Sans Condensed', sans-serif;
        font-size: 0.6rem;
        letter-spacing: 1px;
        list-style: none;
        color: rgb(79, 91, 114);
    }
    li:hover{
        color: rgb(36, 50, 74);
        background-color: azure;
    }
};

