
@import '../../../scss/variables.scss';

.nav{

    ul{
        width: 25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 3rem;
        text-decoration: none;
        font-size: 0.6rem;
        letter-spacing: 1px;
        list-style: none;
        color: $primary-color;


    
        a{
        border: none;
        text-decoration: none;
        background-color: transparent;
        font-size: 0.6rem;
        letter-spacing: 1px;
        list-style: none;
        color: $primary-color;
        }
        

        a:hover{
            color: $secondary-color;
            background-color: $fourth-color;
        }
        button{
            width: 5rem;
            height: 2rem;
            font-size: 0.6rem;
            letter-spacing: 1px;
            border:none;
            border-radius: 3px;
            color: $fourth-color;
            background-color: $secondary-color;
        }
        button:hover{
            color: $secondary-color;
            background-color: $fourth-color;
        }
    }
};

